<div id="<%= dom_id property %>">
  <div>
    Name
    <p>
      <%= property.name %>
    </p>
  </div>

  <div>
    Location

    <p>
      <%= property.location %>
    </p>
  </div>

  <div>
    Price

    <p>
      <%= property.price %>
    </p>
  </div>
</div>
