<div id="<%= dom_id agent %>">
  <div>
    First Name
    <p>
      <%= agent.first_name %>
    </p>
  </div>

  <div>
    Last Name

    <p>
      <%= agent.last_name %>
    </p>
  </div>

  <div>
    Email

    <p>
      <%= agent.email %>
    </p>
  </div>
</div>
